/* 로그인 바 */
.loginBar {
  background-color: var(--color-gray-100);
}

.loginBar__list {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto;
  padding: 0.5rem 0.4rem;
  width: 102rem;
  list-style: none;
}

.loginBar__item:nth-child(n + 4) {
  order: -1;
}

.loginBar__item:first-child {
  margin-left: auto;
}

.loginBar__link {
  display: block;
  padding: 0.5rem 0.4rem;
  font-size: 1.2rem;
  line-height: 1.2;
}

/* 헤더 이너 */
.header__inner {
  display: grid;
  grid-template-columns: auto 24.6rem 1fr auto auto;
  grid-template-rows: 7.4rem 4.2rem;
  grid-template-areas: "buttonCategory brand searchForm myCoupang cart" "buttonCategory typeNavigation typeNavigation myCoupang cart";
  margin: 0 auto;
  width: 102rem;
}

/* 로고 */
.brand {
  grid-area: brand;
  margin-top: 0;
  margin-bottom: 0;
  align-self: end;
  padding: 0 3rem 0 4rem;
}

.brand__link {
  display: block;
}

.logo {
  height: 4rem;
}

.logo--ir {
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: contain;
}

.logo--colorful {
  background-image: url(./../../assets/logo/logo.svg);
}

/* 카테고리 버튼 */
.button--category {
  grid-area: buttonCategory;
  padding: 4.2rem 0 0 0;
  width: 11rem;
  height: 11.6rem;
  border: 0;
  font-size: 1.2rem;
  line-height: 1.2;
  color: var(--color-white);
  background: var(--color-blue-600) url(./../../assets/icon/hamburger.svg)
    no-repeat 50% 3rem;
}

/* 검색 폼 */
.searchForm {
  grid-area: searchForm;
  align-self: end;
}

.searchForm fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.searchForm__wrapper {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  height: 4rem;
  border: 2px solid var(--color-blue-600);
}

.formSelect {
  position: relative;
  height: 100%;
  border-radius: 1px solid var(--color-gray-100);
}

.formSelect__select {
  appearance: none;
  padding-left: 1.2rem;
  width: 13.5rem;
  height: 100%;
  border: 0;
  font-size: 1.2rem;
  line-height: 1.2;
  color: var(--color-gray-700);
}

.formSelect .iconDown {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  pointer-events: none;
}

.formInput {
  height: 100%;
  flex-grow: 1;
}

.formInput__input {
  border: 0;
  width: 100%;
  height: 100%;
  padding: 0.8rem 1rem 1.3rem;
}

.formInput__input::placeholder {
  font-size: 1.2rem;
  line-height: 1.2;
  color: var(--color-gray-700);
}

.button--search, .button--voiceSearch {
  margin-right: 1rem;
  padding: 0;
  width: 3rem;
  height: 3rem;
  border: 0;
}

.button--search {
  order: 1;
  background: url(../../assets/icon/search.svg) no-repeat 50% 50%;
}

.button--voiceSearch {
  background: url(../../assets/icon/mic.svg) no-repeat 50% 50%;
}

/* 마이쿠팡 영역 */
.myCoupang {
  grid-area: myCoupang;
  position: relative;
  align-self: center;
  margin-left: 0.6rem;
  font-size: 1.2rem;
  line-height: 1.2;
}

.button {
  border: 0;
  cursor: pointer;
  user-select: none;
  color: inherit;
  background-color: transparent;
}

.button--myCoupang {
  padding: 3rem 0 0;
  width: 5rem;
  height: 6rem;
  background: transparent url(../../assets/icon/my-coupang.svg) no-repeat 50% 0.5rem;
}

.myCoupang__list {
  position: absolute;
  display: none;
  flex-flow: column nowrap;
  margin: 0;
  padding: 2rem 1.6rem;
  left: 50%;
  list-style: none;
  transform: translateX(-50%);
  border: 1px solid var(--color-gray-300);
  background-color: var(--color-white);
}

.is--active .myCoupang__list {
  display: flex;
}

.myCoupang__list::before, .myCoupang__list::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.myCoupang__list::before {
  top: -0.8rem;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid var(--color-gray-300);
}

.myCoupang__list::after {
  top: -0.7rem;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid var(--color-white);
}

.myCoupang__item {
  margin: 0.2rem;
}

.myCoupang__link {
  display: block;
  padding: 0.4rem;
  white-space: nowrap;
}

/* 장바구니 영역 */
.cart {
  grid-area: cart;
  position: relative;
  align-self: center;
  font-size: 1.2rem;
  line-height: 1.2;
  margin-left: 0.6rem;
}

.cart__buttonWrapper {
  position: relative;
}

.button--cart {
  padding: 3rem 0 0 0;
  width: 5rem;
  height: 6rem;
  background: url(../../assets/icon/cart.svg) no-repeat 50% 0.5rem;
}

.cartProductCount {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.8rem;
  height: 1.8rem;
  text-align: center;
  border-radius: 50%;
  color: var(--color-white);
  background-color: var(--color-blue-600);
}

.cart__detail {
  position: absolute;
  display: none;
  right: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-300);
}

.cart__empty {
  white-space: nowrap;
  padding: 3.6rem 4.6rem;
}

.cart__detail::before, .cart__detail::after {
  content: "";
  position: absolute;
}

.cart__detail::before {
  top: -0.8rem;
  right: 1.8rem;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid var(--color-gray-300);
}

.cart__detail::after {
  top: -0.7rem;
  right: 1.9rem;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid var(--color-white);
}

.cart--empty .cart__detail {
  display: flex;
}

/* 유형별 링크 목록 */
.typeNavigation {
  grid-area: typeNavigation;
  align-self: center;
}

.typeNavigation__list {
  list-style: none;
  margin: 0 0 0 3.6rem;
  padding-left: 0;
  font-size: 0;
}

.typeNavigation__item {
  display: inline-block;
  margin-left: 0.2rem;
}

.typeNavigation__item:first-child {
  margin-left: 0;
}

.typeNavigation__link {
  display: inline-block;
  padding: 0.6rem 1.4rem;
  font-size: 1.2rem;
  line-height: 1.2;
}

.badge--roket {
  margin-right: 0.4rem;
  margin-bottom: 0.2rem;

}

.badge--new {
  margin-left: 0.4rem;
  margin-bottom: 0.3rem;
}